/* GenreBooks.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .bookList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .backButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4b4b4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .backButton:hover {
    background-color: #000000;
  }
  